*{
    margin:0;
    padding:0;
}

body{
    padding-left:30px;
    padding-right:30px; 
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:rgb(151, 185, 207);
    position:relative;
    font-family: "Lilita One", sans-serif;
    letter-spacing: 1px;
}
html {
  scroll-behavior: smooth;
}
nav
{
    width: 8000px;
    height:60px;
    background-color: rgb(73, 73, 129);
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:row;
    gap: 50px;
    margin-bottom: 15px;
    font-size: 30px;
}
.header{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:30px;
    justify-content:center;
    margin-bottom:30px;
}
h1{
    font-size: 40px;
    color:rgb(29, 29, 172);
    text-align:center;
}
h2{
    font-size: 35px;
}

a{
    color:rgb(59, 130, 246);
}
a:hover {
    color: rgb(29, 78, 216);
}

p{
    font-size:25px; 
    color:rgb(51, 65, 85); 
    text-align:center;

}


img{
    width: clamp(200px, 40%, 500px);
}

span{
    padding-top:10px;
}

footer{
    width: 8000px;
    height:60px;
    background-color: rgb(73, 73, 129);
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:row;
    gap: 50px;
    margin-top: 15px;
    font-size: 30px;
}

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.head-title{
    font-size: 40px;
    color:rgb(30, 64, 175);
    text-align:center;
    letter-spacing: 2px;
}

.bottom-link{
   margin-top:30px; 
   margin-bottom:5px;
   font-size: 20px;
}

.all-games{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    background-color: rgb(59, 69, 122);
    border-color: rgb(193, 201, 228);
    border-style: solid;
    border-width: 10px;
    border-radius: 20px;
    padding-left:20px;
    padding-right:20px;
    color: rgb(124, 175, 233);
    letter-spacing: 2px;
    text-align:center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.projects{
    margin-top:20px;
    gap: 20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
}

.games{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    font-size: 20px;
}
.games:hover{
    background-color: rgb(157, 206, 214);
}

.links{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    font-size: 20px;
}
.links:hover{
    background-color: rgb(157, 206, 214);
}

.coming-soon{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: 300px;
    height: 250px;
    border-radius: 20px;

}

.about-me{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 69, 122);
    border: 10px solid rgb(193, 201, 228);
    border-radius: 20px;
    width: 940px;
    padding: 20px;
    text-align: center;
    color: rgb(124, 175, 233)
}

.text-box
{
    width:350px;
    height:200px;
    position:relative;
}
.photo-text{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap: 70px;
    margin-top: 25px;
}

.portrait{
    width:300px;
}
.my-text{
    color: rgb(59, 130, 246);
    font-size: 30px;
    position:absolute;
    left:-20%;
    top:5%;
}

.fun-links{
    padding: 20px;
    margin-top: 20px;
    width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(59, 69, 122);
    border: 10px solid rgb(193, 201, 228);
    border-radius: 10px;
    text-align: center;
    color: rgb(124, 175, 233);
}

.all-links{
    display: flex;
    flex-direction:row;
}

@media (max-width: 425px) {
        .header {
            flex-direction: column;
            gap: 10px;
        }
}

